.DS_Store
Library
Libraries
Temp
*.apk
*.csproj
*.pidb
*.unityproj
*.userprefs
*.pdb
*.suo
*.ipch
*.log
*.tlog
*.obj
*.res
*.idb
*.sdf
*.opensdf
*.ilk
*.exp
*.sdf
*.pch
*.sdf
*.sdf
*.sdf
*.sdf
!HEDDOKO_Unity_test_v0.0.3/BrainpackService/BrainpackService/BrainpackService.csproj
!HEDDOKO_Unity_test_v0.0.3/BrainpackService/*